@import "./campgladiator/cgui-core.styles.variables.colors/colors.module.scss";
@import "./campgladiator/cgui-core.styles.breakpoints/breakpoints.module.scss";

.card {
  display: block;
  background: white;
  border-radius: 10px;
  padding: 30px;

  @include breakpoint(phone-only) {
    padding: 20px;
  }

  &--flat {
    border: 1px solid $light-gray;
    box-sizing: border-box;
  }

  &--raised {
    border: 1px solid $light-gray;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
}
