$icon-solid-unicode-map: (
  icon-plus: "\e900",
  icon-plus1: "\e901",
  icon-plus2: "\e902",
  icon-plus3: "\e903",
  icon-plus4: "\e904",
  icon-plus5: "\e905",
  icon-plus6: "\e906",
  icon-plus7: "\e907",
  icon-plus8: "\e908",
  icon-plus9: "\e909",
  icon-abacus: "\e90a",
  icon-accessible-icon-alt: "\e90b",
  icon-addition: "\e90c",
  icon-adjust-alt: "\e90d",
  icon-adjust-circle: "\e90e",
  icon-adjust-half: "\e90f",
  icon-adjust: "\e910",
  icon-airplay: "\e911",
  icon-align-alt: "\e912",
  icon-align-center-alt: "\e913",
  icon-align-center-h: "\e914",
  icon-align-center-justify: "\e915",
  icon-align-center-v: "\e916",
  icon-align-center: "\e917",
  icon-align-justify: "\e918",
  icon-align-left-justify: "\e919",
  icon-align-left: "\e91a",
  icon-align-letter-right: "\e91b",
  icon-align-right-justify: "\e91c",
  icon-align-right: "\e91d",
  icon-ambulance: "\e91e",
  icon-analysis: "\e91f",
  icon-analytics: "\e920",
  icon-anchor: "\e921",
  icon-android-phone-slash: "\e922",
  icon-angle-double-down: "\e923",
  icon-angle-double-left: "\e924",
  icon-angle-double-right: "\e925",
  icon-angle-double-up: "\e926",
  icon-angle-down: "\e927",
  icon-angle-left-b: "\e928",
  icon-angle-left: "\e929",
  icon-angle-right-b: "\e92a",
  icon-angle-right: "\e92b",
  icon-angle-up: "\e92c",
  icon-angry: "\e92d",
  icon-ankh: "\e92e",
  icon-annoyed-alt: "\e92f",
  icon-annoyed: "\e930",
  icon-apps: "\e931",
  icon-archive-alt: "\e932",
  icon-archive: "\e933",
  icon-archway: "\e934",
  icon-arrow-break: "\e935",
  icon-arrow-circle-down: "\e936",
  icon-arrow-circle-left: "\e937",
  icon-arrow-circle-right: "\e938",
  icon-arrow-circle-up: "\e939",
  icon-arrow-compress-h: "\e93a",
  icon-arrow-down-left: "\e93b",
  icon-arrow-down-right: "\e93c",
  icon-arrow-down: "\e93d",
  icon-arrow-from-right: "\e93e",
  icon-arrow-from-top: "\e93f",
  icon-arrow-growth: "\e940",
  icon-arrow-left: "\e941",
  icon-arrow-random: "\e942",
  icon-arrow-resize-diagonal: "\e943",
  icon-arrow-right: "\e944",
  icon-arrow-to-bottom: "\e945",
  icon-arrow-to-right: "\e946",
  icon-arrow-up-left: "\e947",
  icon-arrow-up-right: "\e948",
  icon-arrow-up: "\e949",
  icon-arrow: "\e94a",
  icon-arrows-h-alt: "\e94b",
  icon-arrows-h: "\e94c",
  icon-arrows-left-down: "\e94d",
  icon-arrows-maximize: "\e94e",
  icon-arrows-merge: "\e94f",
  icon-arrows-resize-h: "\e950",
  icon-arrows-resize-v: "\e951",
  icon-arrows-resize: "\e952",
  icon-arrows-right-down: "\e953",
  icon-arrows-shrink-h: "\e954",
  icon-arrows-shrink-v: "\e955",
  icon-arrows-up-right: "\e956",
  icon-arrows-v-alt: "\e957",
  icon-arrows-v: "\e958",
  icon-assistive-listening-systems: "\e959",
  icon-asterisk: "\e95a",
  icon-at: "\e95b",
  icon-atom: "\e95c",
  icon-auto-flash: "\e95d",
  icon-award-alt: "\e95e",
  icon-award: "\e95f",
  icon-baby-carriage: "\e960",
  icon-backpack: "\e961",
  icon-backspace: "\e962",
  icon-backward: "\e963",
  icon-bag-alt: "\e964",
  icon-bag-slash: "\e965",
  icon-bag: "\e966",
  icon-balance-scale: "\e967",
  icon-ban: "\e968",
  icon-band-aid: "\e969",
  icon-bars: "\e96a",
  icon-baseball-ball: "\e96b",
  icon-basketball-hoop: "\e96c",
  icon-basketball: "\e96d",
  icon-bath: "\e96e",
  icon-battery-bolt: "\e96f",
  icon-battery-empty: "\e970",
  icon-bed-double: "\e971",
  icon-bed: "\e972",
  icon-bell-school: "\e973",
  icon-bell-slash: "\e974",
  icon-bell: "\e975",
  icon-bill: "\e976",
  icon-bitcoin-circle: "\e977",
  icon-bitcoin-sign: "\e978",
  icon-bluetooth-b: "\e979",
  icon-bold: "\e97a",
  icon-bolt-alt: "\e97b",
  icon-bolt-slash: "\e97c",
  icon-bolt: "\e97d",
  icon-book-alt: "\e97e",
  icon-book-medical: "\e97f",
  icon-book-open: "\e980",
  icon-book-reader: "\e981",
  icon-book: "\e982",
  icon-bookmark-full: "\e983",
  icon-bookmark: "\e984",
  icon-books: "\e985",
  icon-boombox: "\e986",
  icon-border-alt: "\e987",
  icon-border-bottom: "\e988",
  icon-border-clear: "\e989",
  icon-border-horizontal: "\e98a",
  icon-border-inner: "\e98b",
  icon-border-left: "\e98c",
  icon-border-out: "\e98d",
  icon-border-right: "\e98e",
  icon-border-top: "\e98f",
  icon-border-vertical: "\e990",
  icon-bowling-ball: "\e991",
  icon-box: "\e992",
  icon-brackets-curly: "\e993",
  icon-brain: "\e994",
  icon-briefcase-alt: "\e995",
  icon-briefcase: "\e996",
  icon-bright: "\e997",
  icon-brightness-empty: "\e998",
  icon-brightness-half: "\e999",
  icon-brightness-low: "\e99a",
  icon-brightness-minus: "\e99b",
  icon-brightness-plus: "\e99c",
  icon-brightness: "\e99d",
  icon-bring-bottom: "\e99e",
  icon-bring-front: "\e99f",
  icon-brush-alt: "\e9a0",
  icon-bug: "\e9a1",
  icon-building: "\e9a2",
  icon-bullseye: "\e9a3",
  icon-bus-alt: "\e9a4",
  icon-bus-school: "\e9a5",
  icon-bus: "\e9a6",
  icon-calculator-alt: "\e9a7",
  icon-calculator: "\e9a8",
  icon-calendar-alt: "\e9a9",
  icon-calendar-slash: "\e9aa",
  icon-calender: "\e9ab",
  icon-calling: "\e9ac",
  icon-camera-change: "\e9ad",
  icon-camera-plus: "\e9ae",
  icon-camera-slash: "\e9af",
  icon-camera: "\e9b0",
  icon-cancel: "\e9b1",
  icon-capsule: "\e9b2",
  icon-capture: "\e9b3",
  icon-car-sideview: "\e9b4",
  icon-car-slash: "\e9b5",
  icon-car-wash: "\e9b6",
  icon-car: "\e9b7",
  icon-card-atm: "\e9b8",
  icon-caret-right: "\e9b9",
  icon-cell: "\e9ba",
  icon-celsius: "\e9bb",
  icon-channel-add: "\e9bc",
  icon-channel: "\e9bd",
  icon-chart-bar-alt: "\e9be",
  icon-chart-bar: "\e9bf",
  icon-chart-down: "\e9c0",
  icon-chart-growth-alt: "\e9c1",
  icon-chart-growth: "\e9c2",
  icon-chart-line: "\e9c3",
  icon-chart-pie-alt: "\e9c4",
  icon-chart-pie: "\e9c5",
  icon-chart: "\e9c6",
  icon-chat-bubble-user: "\e9c7",
  icon-chat-info: "\e9c8",
  icon-chat: "\e9c9",
  icon-check-circle: "\e9ca",
  icon-check-square: "\e9cb",
  icon-check: "\e9cc",
  icon-circle-layer: "\e9cd",
  icon-circle: "\e9ce",
  icon-circuit: "\e9cf",
  icon-clapper-board: "\e9d0",
  icon-clinic-medical: "\e9d1",
  icon-clipboard-alt: "\e9d2",
  icon-clipboard-blank: "\e9d3",
  icon-clipboard-notes: "\e9d4",
  icon-clipboard: "\e9d5",
  icon-clock-eight: "\e9d6",
  icon-clock-five: "\e9d7",
  icon-clock-nine: "\e9d8",
  icon-clock-seven: "\e9d9",
  icon-clock-ten: "\e9da",
  icon-clock-three: "\e9db",
  icon-clock-two: "\e9dc",
  icon-clock: "\e9dd",
  icon-closed-captioning-slash: "\e9de",
  icon-closed-captioning: "\e9df",
  icon-cloud-block: "\e9e0",
  icon-cloud-bookmark: "\e9e1",
  icon-cloud-check: "\e9e2",
  icon-cloud-computing: "\e9e3",
  icon-cloud-data-connection: "\e9e4",
  icon-cloud-database-tree: "\e9e5",
  icon-cloud-download: "\e9e6",
  icon-cloud-drizzle: "\e9e7",
  icon-cloud-exclamation: "\e9e8",
  icon-cloud-hail: "\e9e9",
  icon-cloud-heart: "\e9ea",
  icon-cloud-info: "\e9eb",
  icon-cloud-lock: "\e9ec",
  icon-cloud-meatball: "\e9ed",
  icon-cloud-moon-hail: "\e9ee",
  icon-cloud-moon-meatball: "\e9ef",
  icon-cloud-moon-rain: "\e9f0",
  icon-cloud-moon-showers: "\e9f1",
  icon-cloud-moon: "\e9f2",
  icon-cloud-question: "\e9f3",
  icon-cloud-rain-sun: "\e9f4",
  icon-cloud-rain: "\e9f5",
  icon-cloud-redo: "\e9f6",
  icon-cloud-share: "\e9f7",
  icon-cloud-shield: "\e9f8",
  icon-cloud-showers-alt: "\e9f9",
  icon-cloud-showers-heavy: "\e9fa",
  icon-cloud-showers: "\e9fb",
  icon-cloud-slash: "\e9fc",
  icon-cloud-sun-hail: "\e9fd",
  icon-cloud-sun-meatball: "\e9fe",
  icon-cloud-sun-rain-alt: "\e9ff",
  icon-cloud-sun-rain: "\ea00",
  icon-cloud-sun-tear: "\ea01",
  icon-cloud-sun: "\ea02",
  icon-cloud-times: "\ea03",
  icon-cloud-unlock: "\ea04",
  icon-cloud-upload: "\ea05",
  icon-cloud-wifi: "\ea06",
  icon-cloud-wind: "\ea07",
  icon-cloud: "\ea08",
  icon-clouds: "\ea09",
  icon-club: "\ea0a",
  icon-code-branch: "\ea0b",
  icon-coffee: "\ea0c",
  icon-cog: "\ea0d",
  icon-coins: "\ea0e",
  icon-columns: "\ea0f",
  icon-comment-add: "\ea10",
  icon-comment-alt-block: "\ea11",
  icon-comment-alt-chart-lines: "\ea12",
  icon-comment-alt-check: "\ea13",
  icon-comment-alt-dots: "\ea14",
  icon-comment-alt-download: "\ea15",
  icon-comment-alt-edit: "\ea16",
  icon-comment-alt-exclamation: "\ea17",
  icon-comment-alt-heart: "\ea18",
  icon-comment-alt-image: "\ea19",
  icon-comment-alt-info: "\ea1a",
  icon-comment-alt-lines: "\ea1b",
  icon-comment-alt-lock: "\ea1c",
  icon-comment-alt-medical: "\ea1d",
  icon-comment-alt-message: "\ea1e",
  icon-comment-alt-notes: "\ea1f",
  icon-comment-alt-plus: "\ea20",
  icon-comment-alt-question: "\ea21",
  icon-comment-alt-redo: "\ea22",
  icon-comment-alt-search: "\ea23",
  icon-comment-alt-share: "\ea24",
  icon-comment-alt-shield: "\ea25",
  icon-comment-alt-slash: "\ea26",
  icon-comment-alt-upload: "\ea27",
  icon-comment-alt-verify: "\ea28",
  icon-comment-alt: "\ea29",
  icon-comment-block: "\ea2a",
  icon-comment-chart-line: "\ea2b",
  icon-comment-check: "\ea2c",
  icon-comment-dots: "\ea2d",
  icon-comment-download: "\ea2e",
  icon-comment-edit: "\ea2f",
  icon-comment-exclamation: "\ea30",
  icon-comment-heart: "\ea31",
  icon-comment-image: "\ea32",
  icon-comment-info-alt: "\ea33",
  icon-comment-info: "\ea34",
  icon-comment-lines: "\ea35",
  icon-comment-lock: "\ea36",
  icon-comment-medical: "\ea37",
  icon-comment-message: "\ea38",
  icon-comment-notes: "\ea39",
  icon-comment-plus: "\ea3a",
  icon-comment-question: "\ea3b",
  icon-comment-redo: "\ea3c",
  icon-comment-search: "\ea3d",
  icon-comment-share: "\ea3e",
  icon-comment-shield: "\ea3f",
  icon-comment-slash: "\ea40",
  icon-comment-upload: "\ea41",
  icon-comment-verify: "\ea42",
  icon-comment: "\ea43",
  icon-comments-alt: "\ea44",
  icon-comments: "\ea45",
  icon-compact-disc: "\ea46",
  icon-comparison: "\ea47",
  icon-compass: "\ea48",
  icon-compress-alt-left: "\ea49",
  icon-compress-alt: "\ea4a",
  icon-compress-arrows: "\ea4b",
  icon-compress-lines: "\ea4c",
  icon-compress-point: "\ea4d",
  icon-compress-v: "\ea4e",
  icon-compress: "\ea4f",
  icon-confused: "\ea50",
  icon-constructor: "\ea51",
  icon-copy-alt: "\ea52",
  icon-copy-landscape: "\ea53",
  icon-copy: "\ea54",
  icon-copyright: "\ea55",
  icon-corner-down-left: "\ea56",
  icon-corner-down-right-alt: "\ea57",
  icon-corner-down-right: "\ea58",
  icon-corner-left-down: "\ea59",
  icon-corner-right-down: "\ea5a",
  icon-corner-up-left-alt: "\ea5b",
  icon-corner-up-left: "\ea5c",
  icon-corner-up-right-alt: "\ea5d",
  icon-corner-up-right: "\ea5e",
  icon-coronavirus: "\ea5f",
  icon-create-dashboard: "\ea60",
  icon-creative-commons-pd: "\ea61",
  icon-credit-card-search: "\ea62",
  icon-credit-card: "\ea63",
  icon-crockery: "\ea64",
  icon-crop-alt-rotate-left: "\ea65",
  icon-crop-alt-rotate-right: "\ea66",
  icon-crop-alt: "\ea67",
  icon-crosshair-alt: "\ea68",
  icon-crosshair: "\ea69",
  icon-crosshairs: "\ea6a",
  icon-cube: "\ea6b",
  icon-dashboard: "\ea6c",
  icon-data-sharing: "\ea6d",
  icon-database-alt: "\ea6e",
  icon-database: "\ea6f",
  icon-desert: "\ea70",
  icon-desktop-alt-slash: "\ea71",
  icon-desktop-alt: "\ea72",
  icon-desktop-cloud-alt: "\ea73",
  icon-desktop-live: "\ea74",
  icon-desktop-slash: "\ea75",
  icon-desktop: "\ea76",
  icon-dialpad-alt: "\ea77",
  icon-dialpad: "\ea78",
  icon-diamond: "\ea79",
  icon-diary-alt: "\ea7a",
  icon-diary: "\ea7b",
  icon-dice-five: "\ea7c",
  icon-dice-four: "\ea7d",
  icon-dice-one: "\ea7e",
  icon-dice-six: "\ea7f",
  icon-dice-three: "\ea80",
  icon-dice-two: "\ea81",
  icon-direction: "\ea82",
  icon-directions: "\ea83",
  icon-dizzy-meh: "\ea84",
  icon-dna: "\ea85",
  icon-document-info: "\ea86",
  icon-document-layout-center: "\ea87",
  icon-document-layout-left: "\ea88",
  icon-document-layout-right: "\ea89",
  icon-dollar-alt: "\ea8a",
  icon-dollar-sign-alt: "\ea8b",
  icon-dollar-sign: "\ea8c",
  icon-download-alt: "\ea8d",
  icon-draggabledots: "\ea8e",
  icon-drill: "\ea8f",
  icon-dumbbell: "\ea90",
  icon-ear: "\ea91",
  icon-edit-alt: "\ea92",
  icon-edit: "\ea93",
  icon-elipsis-double-v-alt: "\ea94",
  icon-ellipsis-h: "\ea95",
  icon-ellipsis-v: "\ea96",
  icon-emoji: "\ea97",
  icon-english-to-chinese: "\ea98",
  icon-enter: "\ea99",
  icon-envelope-add: "\ea9a",
  icon-envelope-alt: "\ea9b",
  icon-envelope-block: "\ea9c",
  icon-envelope-bookmark: "\ea9d",
  icon-envelope-check: "\ea9e",
  icon-envelope-download-alt: "\ea9f",
  icon-envelope-download: "\eaa0",
  icon-envelope-edit: "\eaa1",
  icon-envelope-exclamation: "\eaa2",
  icon-envelope-heart: "\eaa3",
  icon-envelope-info: "\eaa4",
  icon-envelope-lock: "\eaa5",
  icon-envelope-minus: "\eaa6",
  icon-envelope-open: "\eaa7",
  icon-envelope-question: "\eaa8",
  icon-envelope-receive: "\eaa9",
  icon-envelope-redo: "\eaaa",
  icon-envelope-search: "\eaab",
  icon-envelope-send: "\eaac",
  icon-envelope-share: "\eaad",
  icon-envelope-shield: "\eaae",
  icon-envelope-star: "\eaaf",
  icon-envelope-times: "\eab0",
  icon-envelope-upload-alt: "\eab1",
  icon-envelope-upload: "\eab2",
  icon-envelope: "\eab3",
  icon-envelopes: "\eab4",
  icon-equal-circle: "\eab5",
  icon-euro-circle: "\eab6",
  icon-euro: "\eab7",
  icon-exchange-alt: "\eab8",
  icon-exchange: "\eab9",
  icon-exclamation-circle: "\eaba",
  icon-exclamation-octagon: "\eabb",
  icon-exclamation-triangle: "\eabc",
  icon-exclamation: "\eabd",
  icon-exclude: "\eabe",
  icon-expand-alt: "\eabf",
  icon-expand-arrows-alt: "\eac0",
  icon-expand-arrows: "\eac1",
  icon-expand-from-corner: "\eac2",
  icon-expand-left: "\eac3",
  icon-expand-right: "\eac4",
  icon-export: "\eac5",
  icon-exposure-alt: "\eac6",
  icon-exposure-increase: "\eac7",
  icon-external-link-alt: "\eac8",
  icon-eye-slash: "\eac9",
  icon-eye: "\eaca",
  icon-fahrenheit: "\eacb",
  icon-fast-mail-alt: "\eacc",
  icon-fast-mail: "\eacd",
  icon-favorite: "\eace",
  icon-feedback: "\eacf",
  icon-fidget-spinner-alt: "\ead0",
  icon-fidget-spinner: "\ead1",
  icon-file-alt: "\ead2",
  icon-file-blank: "\ead3",
  icon-file-block-alt: "\ead4",
  icon-file-bookmark-alt: "\ead5",
  icon-file-check-alt: "\ead6",
  icon-file-check: "\ead7",
  icon-file-contract-dollar: "\ead8",
  icon-file-contract: "\ead9",
  icon-file-copy-alt: "\eada",
  icon-file-download-alt: "\eadb",
  icon-file-download: "\eadc",
  icon-file-edit-alt: "\eadd",
  icon-file-exclamation-alt: "\eade",
  icon-file-exclamation: "\eadf",
  icon-file-export: "\eae0",
  icon-file-graph: "\eae1",
  icon-file-heart: "\eae2",
  icon-file-import: "\eae3",
  icon-file-info-alt: "\eae4",
  icon-file-landscape-alt: "\eae5",
  icon-file-landscape: "\eae6",
  icon-file-lanscape-slash: "\eae7",
  icon-file-lock-alt: "\eae8",
  icon-file-medical-alt: "\eae9",
  icon-file-medical: "\eaea",
  icon-file-minus-alt: "\eaeb",
  icon-file-minus: "\eaec",
  icon-file-network: "\eaed",
  icon-file-plus-alt: "\eaee",
  icon-file-plus: "\eaef",
  icon-file-question-alt: "\eaf0",
  icon-file-question: "\eaf1",
  icon-file-redo-alt: "\eaf2",
  icon-file-search-alt: "\eaf3",
  icon-file-share-alt: "\eaf4",
  icon-file-shield-alt: "\eaf5",
  icon-file-slash: "\eaf6",
  icon-file-times-alt: "\eaf7",
  icon-file-times: "\eaf8",
  icon-file-upload-alt: "\eaf9",
  icon-file-upload: "\eafa",
  icon-file: "\eafb",
  icon-files-landscapes-alt: "\eafc",
  icon-files-landscapes: "\eafd",
  icon-film: "\eafe",
  icon-filter-slash: "\eaff",
  icon-filter: "\eb00",
  icon-fire: "\eb01",
  icon-flask-potion: "\eb02",
  icon-flask: "\eb03",
  icon-flip-h-alt: "\eb04",
  icon-flip-h: "\eb05",
  icon-flip-v-alt: "\eb06",
  icon-flip-v: "\eb07",
  icon-flower: "\eb08",
  icon-focus-add: "\eb09",
  icon-focus-target: "\eb0a",
  icon-focus: "\eb0b",
  icon-folder-check: "\eb0c",
  icon-folder-download: "\eb0d",
  icon-folder-exclamation: "\eb0e",
  icon-folder-heart: "\eb0f",
  icon-folder-info: "\eb10",
  icon-folder-lock: "\eb11",
  icon-folder-medical: "\eb12",
  icon-folder-minus: "\eb13",
  icon-folder-network: "\eb14",
  icon-folder-open: "\eb15",
  icon-folder-plus: "\eb16",
  icon-folder-question: "\eb17",
  icon-folder-slash: "\eb18",
  icon-folder-times: "\eb19",
  icon-folder-upload: "\eb1a",
  icon-folder: "\eb1b",
  icon-font: "\eb1c",
  icon-football-american: "\eb1d",
  icon-football-ball: "\eb1e",
  icon-football: "\eb1f",
  icon-forecastcloud-moon-tear: "\eb20",
  icon-forwaded-call: "\eb21",
  icon-forward: "\eb22",
  icon-frown: "\eb23",
  icon-game-structure: "\eb24",
  icon-gift: "\eb25",
  icon-glass-martini-alt-slash: "\eb26",
  icon-glass-martini-alt: "\eb27",
  icon-glass-martini: "\eb28",
  icon-glass-tea: "\eb29",
  icon-glass: "\eb2a",
  icon-globe: "\eb2b",
  icon-gold: "\eb2c",
  icon-golf-ball: "\eb2d",
  icon-graduation-cap: "\eb2e",
  icon-graph-bar: "\eb2f",
  icon-grid: "\eb30",
  icon-grids: "\eb31",
  icon-grin-tongue-wink-alt: "\eb32",
  icon-grin-tongue-wink: "\eb33",
  icon-grin: "\eb34",
  icon-grip-horizontal-line: "\eb35",
  icon-hard-hat: "\eb36",
  icon-hdd: "\eb37",
  icon-head-side-cough: "\eb38",
  icon-head-side-mask: "\eb39",
  icon-head-side: "\eb3a",
  icon-headphone-slash: "\eb3b",
  icon-headphones-alt: "\eb3c",
  icon-headphones: "\eb3d",
  icon-heart-alt: "\eb3e",
  icon-heart-break: "\eb3f",
  icon-heart-medical: "\eb40",
  icon-heart-rate: "\eb41",
  icon-heart-sign: "\eb42",
  icon-heart: "\eb43",
  icon-heartbeat: "\eb44",
  icon-hindi-to-chinese: "\eb45",
  icon-history-alt: "\eb46",
  icon-history: "\eb47",
  icon-home-alt: "\eb48",
  icon-home: "\eb49",
  icon-horizontal-align-center: "\eb4a",
  icon-horizontal-align-left: "\eb4b",
  icon-horizontal-align-right: "\eb4c",
  icon-horizontal-distribution-center: "\eb4d",
  icon-horizontal-distribution-left: "\eb4e",
  icon-horizontal-distribution-right: "\eb4f",
  icon-hospital-square-sign: "\eb50",
  icon-hospital-symbol: "\eb51",
  icon-hospital: "\eb52",
  icon-hourglass: "\eb53",
  icon-house-user: "\eb54",
  icon-hunting: "\eb55",
  icon-icons: "\eb56",
  icon-illustration: "\eb57",
  icon-image-alt-slash: "\eb58",
  icon-image-block: "\eb59",
  icon-image-broken: "\eb5a",
  icon-image-check: "\eb5b",
  icon-image-download: "\eb5c",
  icon-image-edit: "\eb5d",
  icon-image-info: "\eb5e",
  icon-image-lock: "\eb5f",
  icon-image-minus: "\eb60",
  icon-image-plus: "\eb61",
  icon-image-question: "\eb62",
  icon-image-redo: "\eb63",
  icon-image-resize-landscape: "\eb64",
  icon-image-resize-square: "\eb65",
  icon-image-search: "\eb66",
  icon-image-share: "\eb67",
  icon-image-shield: "\eb68",
  icon-image-slash: "\eb69",
  icon-image-times: "\eb6a",
  icon-image-upload: "\eb6b",
  icon-image-v: "\eb6c",
  icon-image: "\eb6d",
  icon-images: "\eb6e",
  icon-import: "\eb6f",
  icon-inbox: "\eb70",
  icon-incoming-call: "\eb71",
  icon-info-circle: "\eb72",
  icon-info: "\eb73",
  icon-invoice: "\eb74",
  icon-italic: "\eb75",
  icon-jackhammer: "\eb76",
  icon-kayak: "\eb77",
  icon-key-skeleton-alt: "\eb78",
  icon-key-skeleton: "\eb79",
  icon-keyboard-alt: "\eb7a",
  icon-keyboard-hide: "\eb7b",
  icon-keyboard-show: "\eb7c",
  icon-keyboard: "\eb7d",
  icon-keyhole-circle: "\eb7e",
  icon-keyhole-square-full: "\eb7f",
  icon-keyhole-square: "\eb80",
  icon-kid: "\eb81",
  icon-label-alt: "\eb82",
  icon-label: "\eb83",
  icon-lamp: "\eb84",
  icon-language: "\eb85",
  icon-laptop-cloud: "\eb86",
  icon-laptop-connection: "\eb87",
  icon-laptop: "\eb88",
  icon-laughing: "\eb89",
  icon-layer-group-slash: "\eb8a",
  icon-layer-group: "\eb8b",
  icon-layers-alt: "\eb8c",
  icon-layers-slash: "\eb8d",
  icon-layers: "\eb8e",
  icon-left-arrow-from-left: "\eb8f",
  icon-left-arrow-to-left: "\eb90",
  icon-left-indent-alt: "\eb91",
  icon-left-indent: "\eb92",
  icon-left-to-right-text-direction: "\eb93",
  icon-letter-chinese-a: "\eb94",
  icon-letter-english-a: "\eb95",
  icon-letter-hindi-a: "\eb96",
  icon-letter-japanese-a: "\eb97",
  icon-life-ring: "\eb98",
  icon-lightbulb-alt: "\eb99",
  icon-lightbulb: "\eb9a",
  icon-line-alt: "\eb9b",
  icon-line-spacing: "\eb9c",
  icon-link-add: "\eb9d",
  icon-link-alt: "\eb9e",
  icon-link-broken: "\eb9f",
  icon-link-h: "\eba0",
  icon-link: "\eba1",
  icon-lira-sign: "\eba2",
  icon-list-ol-alt: "\eba3",
  icon-list-ol: "\eba4",
  icon-list-ui-alt: "\eba5",
  icon-list-ul: "\eba6",
  icon-location-arrow-alt: "\eba7",
  icon-location-arrow: "\eba8",
  icon-location-pin-alt: "\eba9",
  icon-location-point: "\ebaa",
  icon-lock-access: "\ebab",
  icon-lock-alt: "\ebac",
  icon-lock-open-alt: "\ebad",
  icon-lock-slash: "\ebae",
  icon-lock: "\ebaf",
  icon-luggage-cart: "\ebb0",
  icon-mailbox-alt: "\ebb1",
  icon-mailbox: "\ebb2",
  icon-map-marker-alt: "\ebb3",
  icon-map-marker-edit: "\ebb4",
  icon-map-marker-info: "\ebb5",
  icon-map-marker-minus: "\ebb6",
  icon-map-marker-plus: "\ebb7",
  icon-map-marker-question: "\ebb8",
  icon-map-marker-shield: "\ebb9",
  icon-map-marker-slash: "\ebba",
  icon-map-marker: "\ebbb",
  icon-map-pin-alt: "\ebbc",
  icon-map-pin: "\ebbd",
  icon-map: "\ebbe",
  icon-mars: "\ebbf",
  icon-maximize-left: "\ebc0",
  icon-medal: "\ebc1",
  icon-medical-drip: "\ebc2",
  icon-medical-square-full: "\ebc3",
  icon-medical-square: "\ebc4",
  icon-medkit: "\ebc5",
  icon-meeting-board: "\ebc6",
  icon-megaphone: "\ebc7",
  icon-meh-alt: "\ebc8",
  icon-meh-closed-eye: "\ebc9",
  icon-meh: "\ebca",
  icon-message: "\ebcb",
  icon-metro: "\ebcc",
  icon-microphone-slash: "\ebcd",
  icon-microphone: "\ebce",
  icon-microscope: "\ebcf",
  icon-minus-circle: "\ebd0",
  icon-minus-path: "\ebd1",
  icon-minus-square-full: "\ebd2",
  icon-minus-square: "\ebd3",
  icon-minus: "\ebd4",
  icon-missed-call: "\ebd5",
  icon-mobile-android-alt: "\ebd6",
  icon-mobile-android: "\ebd7",
  icon-mobile-vibrate: "\ebd8",
  icon-modem: "\ebd9",
  icon-money-bill-slash: "\ebda",
  icon-money-bill-stack: "\ebdb",
  icon-money-bill: "\ebdc",
  icon-money-insert: "\ebdd",
  icon-money-stack: "\ebde",
  icon-money-withdraw: "\ebdf",
  icon-money-withdrawal: "\ebe0",
  icon-moneybag-alt: "\ebe1",
  icon-moneybag: "\ebe2",
  icon-monitor-heart-rate: "\ebe3",
  icon-monitor: "\ebe4",
  icon-moon-eclipse: "\ebe5",
  icon-moon: "\ebe6",
  icon-moonset: "\ebe7",
  icon-mountains-sun: "\ebe8",
  icon-mountains: "\ebe9",
  icon-mouse-alt-2: "\ebea",
  icon-mouse-alt: "\ebeb",
  icon-mouse: "\ebec",
  icon-multiply: "\ebed",
  icon-music-note: "\ebee",
  icon-music-tune-slash: "\ebef",
  icon-music: "\ebf0",
  icon-n-a: "\ebf1",
  icon-navigator: "\ebf2",
  icon-nerd: "\ebf3",
  icon-newspaper: "\ebf4",
  icon-ninja: "\ebf5",
  icon-no-entry: "\ebf6",
  icon-notebooks: "\ebf7",
  icon-notes: "\ebf8",
  icon-object-group: "\ebf9",
  icon-object-ungroup: "\ebfa",
  icon-octagon: "\ebfb",
  icon-outgoing-call: "\ebfc",
  icon-package: "\ebfd",
  icon-padlock: "\ebfe",
  icon-paint-tool: "\ebff",
  icon-palette: "\ec00",
  icon-panel-add: "\ec01",
  icon-panorama-h-alt: "\ec02",
  icon-panorama-h: "\ec03",
  icon-panorama-v: "\ec04",
  icon-paperclip: "\ec05",
  icon-paragraph: "\ec06",
  icon-parcel: "\ec07",
  icon-parking-circle: "\ec08",
  icon-parking-square: "\ec09",
  icon-pathfinder-unite: "\ec0a",
  icon-pathfinder: "\ec0b",
  icon-pause-circle: "\ec0c",
  icon-pause: "\ec0d",
  icon-pen: "\ec0e",
  icon-pentagon: "\ec0f",
  icon-percentage: "\ec10",
  icon-phone-alt: "\ec11",
  icon-phone-pause: "\ec12",
  icon-phone-slash: "\ec13",
  icon-phone-times: "\ec14",
  icon-phone-volume: "\ec15",
  icon-phone: "\ec16",
  icon-pizza-slice: "\ec17",
  icon-plane-arrival: "\ec18",
  icon-plane-departure: "\ec19",
  icon-plane-fly: "\ec1a",
  icon-plane: "\ec1b",
  icon-play-circle: "\ec1c",
  icon-play: "\ec1d",
  icon-plug: "\ec1e",
  icon-plus-circle: "\ec1f",
  icon-plus-square: "\ec20",
  icon-plus10: "\ec21",
  icon-podium: "\ec22",
  icon-polygon: "\ec23",
  icon-post-stamp: "\ec24",
  icon-postcard: "\ec25",
  icon-pound-circle: "\ec26",
  icon-pound: "\ec27",
  icon-power: "\ec28",
  icon-prescription-bottle: "\ec29",
  icon-presentation-check: "\ec2a",
  icon-presentation-edit: "\ec2b",
  icon-presentation-line: "\ec2c",
  icon-presentation-lines-alt: "\ec2d",
  icon-presentation-minus: "\ec2e",
  icon-presentation-play: "\ec2f",
  icon-presentation-plus: "\ec30",
  icon-presentation-times: "\ec31",
  icon-presentation: "\ec32",
  icon-previous: "\ec33",
  icon-pricetag-alt: "\ec34",
  icon-print-slash: "\ec35",
  icon-print: "\ec36",
  icon-process: "\ec37",
  icon-processor: "\ec38",
  icon-pump: "\ec39",
  icon-puzzle-piece: "\ec3a",
  icon-qrcode-scan: "\ec3b",
  icon-question-circle: "\ec3c",
  icon-question: "\ec3d",
  icon-rainbow: "\ec3e",
  icon-raindrops-alt: "\ec3f",
  icon-raindrops: "\ec40",
  icon-receipt-alt: "\ec41",
  icon-receipt: "\ec42",
  icon-record-audio: "\ec43",
  icon-redo: "\ec44",
  icon-refresh: "\ec45",
  icon-registered: "\ec46",
  icon-repeat: "\ec47",
  icon-restaurant: "\ec48",
  icon-right-indent-alt: "\ec49",
  icon-right-indent: "\ec4a",
  icon-right-to-left-text-direction: "\ec4b",
  icon-robot: "\ec4c",
  icon-rocket: "\ec4d",
  icon-rope-way: "\ec4e",
  icon-rotate-360: "\ec4f",
  icon-rss-alt: "\ec50",
  icon-rss-interface: "\ec51",
  icon-rss: "\ec52",
  icon-ruler-combined: "\ec53",
  icon-ruler: "\ec54",
  icon-rupee-sign: "\ec55",
  icon-sad-cry: "\ec56",
  icon-sad-crying: "\ec57",
  icon-sad-dizzy: "\ec58",
  icon-sad-squint: "\ec59",
  icon-sad: "\ec5a",
  icon-sanitizer-alt: "\ec5b",
  icon-sanitizer: "\ec5c",
  icon-save: "\ec5d",
  icon-scaling-left: "\ec5e",
  icon-scaling-right: "\ec5f",
  icon-scenery: "\ec60",
  icon-schedule: "\ec61",
  icon-screw: "\ec62",
  icon-scroll-h: "\ec63",
  icon-scroll: "\ec64",
  icon-search-alt: "\ec65",
  icon-search-minus: "\ec66",
  icon-search-plus: "\ec67",
  icon-search: "\ec68",
  icon-selfie: "\ec69",
  icon-server-alt: "\ec6a",
  icon-server-connection: "\ec6b",
  icon-server-network-alt: "\ec6c",
  icon-server-network: "\ec6d",
  icon-server: "\ec6e",
  icon-servers: "\ec6f",
  icon-servicemark: "\ec70",
  icon-setting: "\ec71",
  icon-share-alt: "\ec72",
  icon-share: "\ec73",
  icon-shield-check: "\ec74",
  icon-shield-exclamation: "\ec75",
  icon-shield-plus: "\ec76",
  icon-shield-question: "\ec77",
  icon-shield-slash: "\ec78",
  icon-shield: "\ec79",
  icon-ship: "\ec7a",
  icon-shop: "\ec7b",
  icon-shopping-bag: "\ec7c",
  icon-shopping-basket: "\ec7d",
  icon-shopping-cart-alt: "\ec7e",
  icon-shopping-cart: "\ec7f",
  icon-shovel: "\ec80",
  icon-shrink: "\ec81",
  icon-shuffle: "\ec82",
  icon-shutter-alt: "\ec83",
  icon-shutter: "\ec84",
  icon-sick: "\ec85",
  icon-sigma: "\ec86",
  icon-sign-alt: "\ec87",
  icon-sign-in-alt: "\ec88",
  icon-sign-left: "\ec89",
  icon-sign-out-alt: "\ec8a",
  icon-sign-right: "\ec8b",
  icon-signal-alt-3: "\ec8c",
  icon-signal-alt: "\ec8d",
  icon-signal: "\ec8e",
  icon-signin: "\ec8f",
  icon-signout: "\ec90",
  icon-silence: "\ec91",
  icon-silent-squint: "\ec92",
  icon-sim-card: "\ec93",
  icon-sitemap: "\ec94",
  icon-skip-forward-alt: "\ec95",
  icon-skip-forward-circle: "\ec96",
  icon-skip-forward: "\ec97",
  icon-slider-h-range: "\ec98",
  icon-slider-h: "\ec99",
  icon-sliders-v-alt: "\ec9a",
  icon-sliders-v: "\ec9b",
  icon-smile-beam: "\ec9c",
  icon-smile-dizzy: "\ec9d",
  icon-smile-squint-wink-alt: "\ec9e",
  icon-smile-squint-wink: "\ec9f",
  icon-smile-wink-alt: "\eca0",
  icon-smile-wink: "\eca1",
  icon-smile: "\eca2",
  icon-snow-flake: "\eca3",
  icon-snowflake-alt: "\eca4",
  icon-snowflake: "\eca5",
  icon-social-distancing: "\eca6",
  icon-sort-amount-down: "\eca7",
  icon-sort-amount-up: "\eca8",
  icon-sort: "\eca9",
  icon-sorting: "\ecaa",
  icon-space-key: "\ecab",
  icon-spade: "\ecac",
  icon-sperms: "\ecad",
  icon-spin: "\ecae",
  icon-spinner-alt: "\ecaf",
  icon-spinner: "\ecb0",
  icon-square-full: "\ecb1",
  icon-square-shape: "\ecb2",
  icon-square: "\ecb3",
  icon-squint: "\ecb4",
  icon-star-half-alt: "\ecb5",
  icon-star: "\ecb6",
  icon-step-backward-alt: "\ecb7",
  icon-step-backward-circle: "\ecb8",
  icon-step-backward: "\ecb9",
  icon-step-forward: "\ecba",
  icon-stethoscope-alt: "\ecbb",
  icon-stethoscope: "\ecbc",
  icon-stop-circle: "\ecbd",
  icon-stopwatch-slash: "\ecbe",
  icon-stopwatch: "\ecbf",
  icon-store-alt: "\ecc0",
  icon-store-slash: "\ecc1",
  icon-store: "\ecc2",
  icon-streering: "\ecc3",
  icon-stretcher: "\ecc4",
  icon-subject: "\ecc5",
  icon-subway-alt: "\ecc6",
  icon-subway: "\ecc7",
  icon-suitcase-alt: "\ecc8",
  icon-suitcase: "\ecc9",
  icon-sun: "\ecca",
  icon-sunset: "\eccb",
  icon-surprise: "\eccc",
  icon-swatchbook: "\eccd",
  icon-swimmer: "\ecce",
  icon-sync-exclamation: "\eccf",
  icon-sync-slash: "\ecd0",
  icon-sync: "\ecd1",
  icon-syringe: "\ecd2",
  icon-table-tennis: "\ecd3",
  icon-table: "\ecd4",
  icon-tablet: "\ecd5",
  icon-tablets: "\ecd6",
  icon-tachometer-fast-alt: "\ecd7",
  icon-tachometer-fast: "\ecd8",
  icon-tag-alt: "\ecd9",
  icon-tag: "\ecda",
  icon-tape: "\ecdb",
  icon-taxi: "\ecdc",
  icon-tear: "\ecdd",
  icon-telescope: "\ecde",
  icon-temperature-empty: "\ecdf",
  icon-temperature-half: "\ece0",
  icon-temperature-minus: "\ece1",
  icon-temperature-plus: "\ece2",
  icon-temperature-quarter: "\ece3",
  icon-temperature-three-quarter: "\ece4",
  icon-temperature: "\ece5",
  icon-tennis-ball: "\ece6",
  icon-text-fields: "\ece7",
  icon-text-size: "\ece8",
  icon-text-strike-through: "\ece9",
  icon-text: "\ecea",
  icon-th-large: "\eceb",
  icon-th-slash: "\ecec",
  icon-th: "\eced",
  icon-thermometer: "\ecee",
  icon-thumbs-down: "\ecef",
  icon-thumbs-up: "\ecf0",
  icon-thunderstorm-moon: "\ecf1",
  icon-thunderstorm-sun: "\ecf2",
  icon-thunderstorm: "\ecf3",
  icon-ticket: "\ecf4",
  icon-times-circle: "\ecf5",
  icon-times-square: "\ecf6",
  icon-times: "\ecf7",
  icon-toggle-off: "\ecf8",
  icon-toggle-on: "\ecf9",
  icon-toilet-paper: "\ecfa",
  icon-top-arrow-from-top: "\ecfb",
  icon-top-arrow-to-top: "\ecfc",
  icon-tornado: "\ecfd",
  icon-trademark-circle: "\ecfe",
  icon-trademark: "\ecff",
  icon-traffic-barrier: "\ed00",
  icon-traffic-light: "\ed01",
  icon-transaction: "\ed02",
  icon-trash-alt: "\ed03",
  icon-trash: "\ed04",
  icon-trees: "\ed05",
  icon-triangle: "\ed06",
  icon-trophy: "\ed07",
  icon-trowel: "\ed08",
  icon-truck-loading: "\ed09",
  icon-truck: "\ed0a",
  icon-tv-retro-slash: "\ed0b",
  icon-tv-retro: "\ed0c",
  icon-umbrella: "\ed0d",
  icon-unamused: "\ed0e",
  icon-underline: "\ed0f",
  icon-university: "\ed10",
  icon-unlock-alt: "\ed11",
  icon-unlock: "\ed12",
  icon-upload-alt: "\ed13",
  icon-upload: "\ed14",
  icon-usd-circle: "\ed15",
  icon-usd-square: "\ed16",
  icon-user-arrows: "\ed17",
  icon-user-check: "\ed18",
  icon-user-circle: "\ed19",
  icon-user-exclamation: "\ed1a",
  icon-user-location: "\ed1b",
  icon-user-md: "\ed1c",
  icon-user-minus: "\ed1d",
  icon-user-nurse: "\ed1e",
  icon-user-plus: "\ed1f",
  icon-user-square: "\ed20",
  icon-user-times: "\ed21",
  icon-user: "\ed22",
  icon-users-alt: "\ed23",
  icon-utensils-alt: "\ed24",
  icon-utensils: "\ed25",
  icon-vector-square-alt: "\ed26",
  icon-vector-square: "\ed27",
  icon-venus: "\ed28",
  icon-vertical-align-bottom: "\ed29",
  icon-vertical-align-center: "\ed2a",
  icon-vertical-align-top: "\ed2b",
  icon-vertical-distribute-bottom: "\ed2c",
  icon-vertical-distribution-center: "\ed2d",
  icon-vertical-distribution-top: "\ed2e",
  icon-video-question: "\ed2f",
  icon-video-slash: "\ed30",
  icon-video: "\ed31",
  icon-virus-slash: "\ed32",
  icon-voicemail-rectangle: "\ed33",
  icon-voicemail: "\ed34",
  icon-volleyball: "\ed35",
  icon-volume-down: "\ed36",
  icon-volume-mute: "\ed37",
  icon-volume-off: "\ed38",
  icon-volume-up: "\ed39",
  icon-volume: "\ed3a",
  icon-wall: "\ed3b",
  icon-wallet: "\ed3c",
  icon-watch-alt: "\ed3d",
  icon-watch: "\ed3e",
  icon-water-drop-slash: "\ed3f",
  icon-water-glass: "\ed40",
  icon-water: "\ed41",
  icon-web-grid-alt: "\ed42",
  icon-web-grid: "\ed43",
  icon-web-section-alt: "\ed44",
  icon-web-section: "\ed45",
  icon-webcam: "\ed46",
  icon-weight: "\ed47",
  icon-wheel-barrow: "\ed48",
  icon-wheelchair-alt: "\ed49",
  icon-wheelchair: "\ed4a",
  icon-wifi-router: "\ed4b",
  icon-wifi-slash: "\ed4c",
  icon-wifi: "\ed4d",
  icon-wind-moon: "\ed4e",
  icon-wind-sun: "\ed4f",
  icon-wind: "\ed50",
  icon-window-grid: "\ed51",
  icon-window-maximize: "\ed52",
  icon-window-restore: "\ed53",
  icon-window-section: "\ed54",
  icon-window: "\ed55",
  icon-windsock: "\ed56",
  icon-windy: "\ed57",
  icon-wrap-text: "\ed58",
  icon-wrench: "\ed59",
  icon-x-add: "\ed5a",
  icon-x: "\ed5b",
  icon-yen-circle: "\ed5c",
  icon-yen: "\ed5d",
  icon-yin-yang: "\ed5e",
);
