$icon-line-unicode-map: (
  icon-plus: "\e900",
  icon-plus1: "\e901",
  icon-plus2: "\e902",
  icon-plus3: "\e903",
  icon-plus4: "\e904",
  icon-plus5: "\e905",
  icon-plus6: "\e906",
  icon-plus7: "\e907",
  icon-plus8: "\e908",
  icon-plus9: "\e909",
  icon-px: "\e90a",
  icon-abacus: "\e90b",
  icon-accessible-icon-alt: "\e90c",
  icon-adjust-alt: "\e90d",
  icon-adjust-circle: "\e90e",
  icon-adjust-half: "\e90f",
  icon-adjust: "\e910",
  icon-adobe-alt: "\e911",
  icon-adobe: "\e912",
  icon-airplay: "\e913",
  icon-align-alt: "\e914",
  icon-align-center-alt: "\e915",
  icon-align-center-h: "\e916",
  icon-align-center-justify: "\e917",
  icon-align-center-v: "\e918",
  icon-align-center: "\e919",
  icon-align-justify: "\e91a",
  icon-align-left-justify: "\e91b",
  icon-align-left: "\e91c",
  icon-align-letter-right: "\e91d",
  icon-align-right-justify: "\e91e",
  icon-align-right: "\e91f",
  icon-align: "\e920",
  icon-amazon: "\e921",
  icon-ambulance: "\e922",
  icon-analysis: "\e923",
  icon-analytics: "\e924",
  icon-anchor: "\e925",
  icon-android-alt: "\e926",
  icon-android-phone-slash: "\e927",
  icon-android: "\e928",
  icon-angle-double-down: "\e929",
  icon-angle-double-left: "\e92a",
  icon-angle-double-right: "\e92b",
  icon-angle-double-up: "\e92c",
  icon-angle-down: "\e92d",
  icon-angle-left-b: "\e92e",
  icon-angle-left: "\e92f",
  icon-angle-right-b: "\e930",
  icon-angle-right: "\e931",
  icon-angle-up: "\e932",
  icon-angry: "\e933",
  icon-ankh: "\e934",
  icon-annoyed-alt: "\e935",
  icon-annoyed: "\e936",
  icon-apple-alt: "\e937",
  icon-apple: "\e938",
  icon-apps: "\e939",
  icon-archive-alt: "\e93a",
  icon-archive: "\e93b",
  icon-archway: "\e93c",
  icon-arrow-break: "\e93d",
  icon-arrow-circle-down: "\e93e",
  icon-arrow-circle-left: "\e93f",
  icon-arrow-circle-right: "\e940",
  icon-arrow-circle-up: "\e941",
  icon-arrow-compress-h: "\e942",
  icon-arrow-down-left: "\e943",
  icon-arrow-down-right: "\e944",
  icon-arrow-down: "\e945",
  icon-arrow-from-right: "\e946",
  icon-arrow-from-top: "\e947",
  icon-arrow-growth: "\e948",
  icon-arrow-left: "\e949",
  icon-arrow-random: "\e94a",
  icon-arrow-resize-diagonal: "\e94b",
  icon-arrow-right: "\e94c",
  icon-arrow-to-bottom: "\e94d",
  icon-arrow-to-right: "\e94e",
  icon-arrow-up-left: "\e94f",
  icon-arrow-up-right: "\e950",
  icon-arrow-up: "\e951",
  icon-arrow: "\e952",
  icon-arrows-h-alt: "\e953",
  icon-arrows-h: "\e954",
  icon-arrows-left-down: "\e955",
  icon-arrows-maximize: "\e956",
  icon-arrows-merge: "\e957",
  icon-arrows-resize-h: "\e958",
  icon-arrows-resize-v: "\e959",
  icon-arrows-resize: "\e95a",
  icon-arrows-right-down: "\e95b",
  icon-arrows-shrink-h: "\e95c",
  icon-arrows-shrink-v: "\e95d",
  icon-arrows-up-right: "\e95e",
  icon-arrows-v-alt: "\e95f",
  icon-arrows-v: "\e960",
  icon-assistive-listening-systems: "\e961",
  icon-asterisk: "\e962",
  icon-at: "\e963",
  icon-atom: "\e964",
  icon-auto-flash: "\e965",
  icon-award-alt: "\e966",
  icon-award: "\e967",
  icon-baby-carriage: "\e968",
  icon-backpack: "\e969",
  icon-backspace: "\e96a",
  icon-backward: "\e96b",
  icon-bag-alt: "\e96c",
  icon-bag-slash: "\e96d",
  icon-bag: "\e96e",
  icon-balance-scale: "\e96f",
  icon-ban: "\e970",
  icon-band-aid: "\e971",
  icon-bars: "\e972",
  icon-baseball-ball: "\e973",
  icon-basketball-hoop: "\e974",
  icon-basketball: "\e975",
  icon-bath: "\e976",
  icon-battery-bolt: "\e977",
  icon-battery-empty: "\e978",
  icon-bed-double: "\e979",
  icon-bed: "\e97a",
  icon-behance-alt: "\e97b",
  icon-behance: "\e97c",
  icon-bell-school: "\e97d",
  icon-bell-slash: "\e97e",
  icon-bell: "\e97f",
  icon-bill: "\e980",
  icon-bing: "\e981",
  icon-bitcoin-alt: "\e982",
  icon-bitcoin-circle: "\e983",
  icon-bitcoin-sign: "\e984",
  icon-bitcoin: "\e985",
  icon-black-berry: "\e986",
  icon-blogger-alt: "\e987",
  icon-blogger: "\e988",
  icon-bluetooth-b: "\e989",
  icon-bold: "\e98a",
  icon-bolt-alt: "\e98b",
  icon-bolt-slash: "\e98c",
  icon-bolt: "\e98d",
  icon-book-alt: "\e98e",
  icon-book-medical: "\e98f",
  icon-book-open: "\e990",
  icon-book-reader: "\e991",
  icon-book: "\e992",
  icon-bookmark-full: "\e993",
  icon-bookmark: "\e994",
  icon-books: "\e995",
  icon-boombox: "\e996",
  icon-border-alt: "\e997",
  icon-border-bottom: "\e998",
  icon-border-clear: "\e999",
  icon-border-horizontal: "\e99a",
  icon-border-inner: "\e99b",
  icon-border-left: "\e99c",
  icon-border-out: "\e99d",
  icon-border-right: "\e99e",
  icon-border-top: "\e99f",
  icon-border-vertical: "\e9a0",
  icon-bowling-ball: "\e9a1",
  icon-box: "\e9a2",
  icon-brackets-curly: "\e9a3",
  icon-brain: "\e9a4",
  icon-briefcase-alt: "\e9a5",
  icon-briefcase: "\e9a6",
  icon-bright: "\e9a7",
  icon-brightness-empty: "\e9a8",
  icon-brightness-half: "\e9a9",
  icon-brightness-low: "\e9aa",
  icon-brightness-minus: "\e9ab",
  icon-brightness-plus: "\e9ac",
  icon-brightness: "\e9ad",
  icon-bring-bottom: "\e9ae",
  icon-bring-front: "\e9af",
  icon-browser: "\e9b0",
  icon-brush-alt: "\e9b1",
  icon-bug: "\e9b2",
  icon-building: "\e9b3",
  icon-bullseye: "\e9b4",
  icon-bus-alt: "\e9b5",
  icon-bus-school: "\e9b6",
  icon-bus: "\e9b7",
  icon-calculator-alt: "\e9b8",
  icon-calculator: "\e9b9",
  icon-calendar-alt: "\e9ba",
  icon-calendar-slash: "\e9bb",
  icon-calender: "\e9bc",
  icon-calling: "\e9bd",
  icon-camera-change: "\e9be",
  icon-camera-plus: "\e9bf",
  icon-camera-slash: "\e9c0",
  icon-camera: "\e9c1",
  icon-cancel: "\e9c2",
  icon-capsule: "\e9c3",
  icon-capture: "\e9c4",
  icon-car-sideview: "\e9c5",
  icon-car-slash: "\e9c6",
  icon-car-wash: "\e9c7",
  icon-car: "\e9c8",
  icon-card-atm: "\e9c9",
  icon-caret-right: "\e9ca",
  icon-cell: "\e9cb",
  icon-celsius: "\e9cc",
  icon-channel-add: "\e9cd",
  icon-channel: "\e9ce",
  icon-chart-bar-alt: "\e9cf",
  icon-chart-bar: "\e9d0",
  icon-chart-down: "\e9d1",
  icon-chart-growth-alt: "\e9d2",
  icon-chart-growth: "\e9d3",
  icon-chart-line: "\e9d4",
  icon-chart-pie-alt: "\e9d5",
  icon-chart-pie: "\e9d6",
  icon-chart: "\e9d7",
  icon-chat-bubble-user: "\e9d8",
  icon-chat-info: "\e9d9",
  icon-chat: "\e9da",
  icon-check-circle: "\e9db",
  icon-check-square: "\e9dc",
  icon-check: "\e9dd",
  icon-circle-layer: "\e9de",
  icon-circle: "\e9df",
  icon-circuit: "\e9e0",
  icon-clapper-board: "\e9e1",
  icon-clinic-medical: "\e9e2",
  icon-clipboard-alt: "\e9e3",
  icon-clipboard-blank: "\e9e4",
  icon-clipboard-notes: "\e9e5",
  icon-clipboard: "\e9e6",
  icon-clock-eight: "\e9e7",
  icon-clock-five: "\e9e8",
  icon-clock-nine: "\e9e9",
  icon-clock-seven: "\e9ea",
  icon-clock-ten: "\e9eb",
  icon-clock-three: "\e9ec",
  icon-clock-two: "\e9ed",
  icon-clock: "\e9ee",
  icon-closed-captioning-slash: "\e9ef",
  icon-closed-captioning: "\e9f0",
  icon-cloud-block: "\e9f1",
  icon-cloud-bookmark: "\e9f2",
  icon-cloud-check: "\e9f3",
  icon-cloud-computing: "\e9f4",
  icon-cloud-data-connection: "\e9f5",
  icon-cloud-database-tree: "\e9f6",
  icon-cloud-download: "\e9f7",
  icon-cloud-drizzle: "\e9f8",
  icon-cloud-exclamation: "\e9f9",
  icon-cloud-hail: "\e9fa",
  icon-cloud-heart: "\e9fb",
  icon-cloud-info: "\e9fc",
  icon-cloud-lock: "\e9fd",
  icon-cloud-meatball: "\e9fe",
  icon-cloud-moon-hail: "\e9ff",
  icon-cloud-moon-meatball: "\ea00",
  icon-cloud-moon-rain: "\ea01",
  icon-cloud-moon-showers: "\ea02",
  icon-cloud-moon: "\ea03",
  icon-cloud-question: "\ea04",
  icon-cloud-rain-sun: "\ea05",
  icon-cloud-rain: "\ea06",
  icon-cloud-redo: "\ea07",
  icon-cloud-share: "\ea08",
  icon-cloud-shield: "\ea09",
  icon-cloud-showers-alt: "\ea0a",
  icon-cloud-showers-heavy: "\ea0b",
  icon-cloud-showers: "\ea0c",
  icon-cloud-slash: "\ea0d",
  icon-cloud-sun-hail: "\ea0e",
  icon-cloud-sun-meatball: "\ea0f",
  icon-cloud-sun-rain-alt: "\ea10",
  icon-cloud-sun-rain: "\ea11",
  icon-cloud-sun-tear: "\ea12",
  icon-cloud-sun: "\ea13",
  icon-cloud-times: "\ea14",
  icon-cloud-unlock: "\ea15",
  icon-cloud-upload: "\ea16",
  icon-cloud-wifi: "\ea17",
  icon-cloud-wind: "\ea18",
  icon-cloud: "\ea19",
  icon-clouds: "\ea1a",
  icon-club: "\ea1b",
  icon-code-branch: "\ea1c",
  icon-coffee: "\ea1d",
  icon-cog: "\ea1e",
  icon-coins: "\ea1f",
  icon-columns: "\ea20",
  icon-comment-add: "\ea21",
  icon-comment-alt-block: "\ea22",
  icon-comment-alt-chart-lines: "\ea23",
  icon-comment-alt-check: "\ea24",
  icon-comment-alt-dots: "\ea25",
  icon-comment-alt-download: "\ea26",
  icon-comment-alt-edit: "\ea27",
  icon-comment-alt-exclamation: "\ea28",
  icon-comment-alt-heart: "\ea29",
  icon-comment-alt-image: "\ea2a",
  icon-comment-alt-info: "\ea2b",
  icon-comment-alt-lines: "\ea2c",
  icon-comment-alt-lock: "\ea2d",
  icon-comment-alt-medical: "\ea2e",
  icon-comment-alt-message: "\ea2f",
  icon-comment-alt-notes: "\ea30",
  icon-comment-alt-plus: "\ea31",
  icon-comment-alt-question: "\ea32",
  icon-comment-alt-redo: "\ea33",
  icon-comment-alt-search: "\ea34",
  icon-comment-alt-share: "\ea35",
  icon-comment-alt-shield: "\ea36",
  icon-comment-alt-slash: "\ea37",
  icon-comment-alt-upload: "\ea38",
  icon-comment-alt-verify: "\ea39",
  icon-comment-alt: "\ea3a",
  icon-comment-block: "\ea3b",
  icon-comment-chart-line: "\ea3c",
  icon-comment-check: "\ea3d",
  icon-comment-dots: "\ea3e",
  icon-comment-download: "\ea3f",
  icon-comment-edit: "\ea40",
  icon-comment-exclamation: "\ea41",
  icon-comment-heart: "\ea42",
  icon-comment-image: "\ea43",
  icon-comment-info-alt: "\ea44",
  icon-comment-info: "\ea45",
  icon-comment-lines: "\ea46",
  icon-comment-lock: "\ea47",
  icon-comment-medical: "\ea48",
  icon-comment-message: "\ea49",
  icon-comment-notes: "\ea4a",
  icon-comment-plus: "\ea4b",
  icon-comment-question: "\ea4c",
  icon-comment-redo: "\ea4d",
  icon-comment-search: "\ea4e",
  icon-comment-share: "\ea4f",
  icon-comment-shield: "\ea50",
  icon-comment-slash: "\ea51",
  icon-comment-upload: "\ea52",
  icon-comment-verify: "\ea53",
  icon-comment: "\ea54",
  icon-comments-alt: "\ea55",
  icon-comments: "\ea56",
  icon-compact-disc: "\ea57",
  icon-comparison: "\ea58",
  icon-compass: "\ea59",
  icon-compress-alt-left: "\ea5a",
  icon-compress-alt: "\ea5b",
  icon-compress-arrows: "\ea5c",
  icon-compress-lines: "\ea5d",
  icon-compress-point: "\ea5e",
  icon-compress-v: "\ea5f",
  icon-compress: "\ea60",
  icon-confused: "\ea61",
  icon-constructor: "\ea62",
  icon-copy-alt: "\ea63",
  icon-copy-landscape: "\ea64",
  icon-copy: "\ea65",
  icon-copyright: "\ea66",
  icon-corner-down-left: "\ea67",
  icon-corner-down-right-alt: "\ea68",
  icon-corner-down-right: "\ea69",
  icon-corner-left-down: "\ea6a",
  icon-corner-right-down: "\ea6b",
  icon-corner-up-left-alt: "\ea6c",
  icon-corner-up-left: "\ea6d",
  icon-corner-up-right-alt: "\ea6e",
  icon-corner-up-right: "\ea6f",
  icon-coronavirus: "\ea70",
  icon-create-dashboard: "\ea71",
  icon-creative-commons-pd: "\ea72",
  icon-credit-card-search: "\ea73",
  icon-credit-card: "\ea74",
  icon-crockery: "\ea75",
  icon-crop-alt-rotate-left: "\ea76",
  icon-crop-alt-rotate-right: "\ea77",
  icon-crop-alt: "\ea78",
  icon-crosshair-alt: "\ea79",
  icon-crosshair: "\ea7a",
  icon-crosshairs: "\ea7b",
  icon-css3-simple: "\ea7c",
  icon-cube: "\ea7d",
  icon-dashboard: "\ea7e",
  icon-data-sharing: "\ea7f",
  icon-database-alt: "\ea80",
  icon-database: "\ea81",
  icon-desert: "\ea82",
  icon-desktop-alt-slash: "\ea83",
  icon-desktop-alt: "\ea84",
  icon-desktop-cloud-alt: "\ea85",
  icon-desktop-slash: "\ea86",
  icon-desktop: "\ea87",
  icon-dialpad-alt: "\ea88",
  icon-dialpad: "\ea89",
  icon-diamond: "\ea8a",
  icon-diary-alt: "\ea8b",
  icon-diary: "\ea8c",
  icon-dice-five: "\ea8d",
  icon-dice-four: "\ea8e",
  icon-dice-one: "\ea8f",
  icon-dice-six: "\ea90",
  icon-dice-three: "\ea91",
  icon-dice-two: "\ea92",
  icon-direction: "\ea93",
  icon-directions: "\ea94",
  icon-discord: "\ea95",
  icon-dizzy-meh: "\ea96",
  icon-dna: "\ea97",
  icon-docker: "\ea98",
  icon-document-info: "\ea99",
  icon-document-layout-center: "\ea9a",
  icon-document-layout-left: "\ea9b",
  icon-document-layout-right: "\ea9c",
  icon-dollar-alt: "\ea9d",
  icon-dollar-sign-alt: "\ea9e",
  icon-dollar-sign: "\ea9f",
  icon-download-alt: "\eaa0",
  icon-draggabledots: "\eaa1",
  icon-dribbble: "\eaa2",
  icon-drill: "\eaa3",
  icon-dropbox: "\eaa4",
  icon-dumbbell: "\eaa5",
  icon-ear: "\eaa6",
  icon-edit-alt: "\eaa7",
  icon-edit: "\eaa8",
  icon-elipsis-double-v-alt: "\eaa9",
  icon-ellipsis-h: "\eaaa",
  icon-ellipsis-v: "\eaab",
  icon-emoji: "\eaac",
  icon-english-to-chinese: "\eaad",
  icon-enter: "\eaae",
  icon-envelope-add: "\eaaf",
  icon-envelope-alt: "\eab0",
  icon-envelope-block: "\eab1",
  icon-envelope-bookmark: "\eab2",
  icon-envelope-check: "\eab3",
  icon-envelope-download-alt: "\eab4",
  icon-envelope-download: "\eab5",
  icon-envelope-edit: "\eab6",
  icon-envelope-exclamation: "\eab7",
  icon-envelope-heart: "\eab8",
  icon-envelope-info: "\eab9",
  icon-envelope-lock: "\eaba",
  icon-envelope-minus: "\eabb",
  icon-envelope-open: "\eabc",
  icon-envelope-question: "\eabd",
  icon-envelope-receive: "\eabe",
  icon-envelope-redo: "\eabf",
  icon-envelope-search: "\eac0",
  icon-envelope-send: "\eac1",
  icon-envelope-share: "\eac2",
  icon-envelope-shield: "\eac3",
  icon-envelope-star: "\eac4",
  icon-envelope-times: "\eac5",
  icon-envelope-upload-alt: "\eac6",
  icon-envelope-upload: "\eac7",
  icon-envelope: "\eac8",
  icon-envelopes: "\eac9",
  icon-equal-circle: "\eaca",
  icon-estate: "\eacb",
  icon-euro-circle: "\eacc",
  icon-euro: "\eacd",
  icon-exchange-alt: "\eace",
  icon-exchange: "\eacf",
  icon-exclamation-circle: "\ead0",
  icon-exclamation-octagon: "\ead1",
  icon-exclamation-triangle: "\ead2",
  icon-exclamation: "\ead3",
  icon-exclude: "\ead4",
  icon-exit: "\ead5",
  icon-expand-alt: "\ead6",
  icon-expand-arrows-alt: "\ead7",
  icon-expand-arrows: "\ead8",
  icon-expand-from-corner: "\ead9",
  icon-expand-left: "\eada",
  icon-expand-right: "\eadb",
  icon-export: "\eadc",
  icon-exposure-alt: "\eadd",
  icon-exposure-increase: "\eade",
  icon-external-link-alt: "\eadf",
  icon-eye-slash: "\eae0",
  icon-eye: "\eae1",
  icon-facebook-f: "\eae2",
  icon-facebook-messenger-alt: "\eae3",
  icon-facebook-messenger: "\eae4",
  icon-facebook: "\eae5",
  icon-fahrenheit: "\eae6",
  icon-fast-mail-alt: "\eae7",
  icon-fast-mail: "\eae8",
  icon-favorite: "\eae9",
  icon-feedback: "\eaea",
  icon-fidget-spinner: "\eaeb",
  icon-file-alt: "\eaec",
  icon-file-blank: "\eaed",
  icon-file-block-alt: "\eaee",
  icon-file-bookmark-alt: "\eaef",
  icon-file-check-alt: "\eaf0",
  icon-file-check: "\eaf1",
  icon-file-contract-dollar: "\eaf2",
  icon-file-contract: "\eaf3",
  icon-file-copy-alt: "\eaf4",
  icon-file-download-alt: "\eaf5",
  icon-file-download: "\eaf6",
  icon-file-edit-alt: "\eaf7",
  icon-file-exclamation-alt: "\eaf8",
  icon-file-exclamation: "\eaf9",
  icon-file-export: "\eafa",
  icon-file-graph: "\eafb",
  icon-file-heart: "\eafc",
  icon-file-import: "\eafd",
  icon-file-info-alt: "\eafe",
  icon-file-landscape-alt: "\eaff",
  icon-file-landscape: "\eb00",
  icon-file-lanscape-slash: "\eb01",
  icon-file-lock-alt: "\eb02",
  icon-file-medical-alt: "\eb03",
  icon-file-medical: "\eb04",
  icon-file-minus-alt: "\eb05",
  icon-file-minus: "\eb06",
  icon-file-network: "\eb07",
  icon-file-plus-alt: "\eb08",
  icon-file-plus: "\eb09",
  icon-file-question-alt: "\eb0a",
  icon-file-question: "\eb0b",
  icon-file-redo-alt: "\eb0c",
  icon-file-search-alt: "\eb0d",
  icon-file-share-alt: "\eb0e",
  icon-file-shield-alt: "\eb0f",
  icon-file-slash: "\eb10",
  icon-file-times-alt: "\eb11",
  icon-file-times: "\eb12",
  icon-file-upload-alt: "\eb13",
  icon-file-upload: "\eb14",
  icon-file: "\eb15",
  icon-files-landscapes-alt: "\eb16",
  icon-files-landscapes: "\eb17",
  icon-film: "\eb18",
  icon-filter-slash: "\eb19",
  icon-filter: "\eb1a",
  icon-fire: "\eb1b",
  icon-flask-potion: "\eb1c",
  icon-flask: "\eb1d",
  icon-flip-h-alt: "\eb1e",
  icon-flip-h: "\eb1f",
  icon-flip-v-alt: "\eb20",
  icon-flip-v: "\eb21",
  icon-flower: "\eb22",
  icon-focus-add: "\eb23",
  icon-focus-target: "\eb24",
  icon-focus: "\eb25",
  icon-folder-check: "\eb26",
  icon-folder-download: "\eb27",
  icon-folder-exclamation: "\eb28",
  icon-folder-heart: "\eb29",
  icon-folder-info: "\eb2a",
  icon-folder-lock: "\eb2b",
  icon-folder-medical: "\eb2c",
  icon-folder-minus: "\eb2d",
  icon-folder-network: "\eb2e",
  icon-folder-open: "\eb2f",
  icon-folder-plus: "\eb30",
  icon-folder-question: "\eb31",
  icon-folder-slash: "\eb32",
  icon-folder-times: "\eb33",
  icon-folder-upload: "\eb34",
  icon-folder: "\eb35",
  icon-font: "\eb36",
  icon-football-american: "\eb37",
  icon-football-ball: "\eb38",
  icon-football: "\eb39",
  icon-forecastcloud-moon-tear: "\eb3a",
  icon-forwaded-call: "\eb3b",
  icon-forward: "\eb3c",
  icon-frown: "\eb3d",
  icon-game-structure: "\eb3e",
  icon-gift: "\eb3f",
  icon-github-alt: "\eb40",
  icon-github: "\eb41",
  icon-gitlab: "\eb42",
  icon-glass-martini-alt-slash: "\eb43",
  icon-glass-martini-alt: "\eb44",
  icon-glass-martini: "\eb45",
  icon-glass-tea: "\eb46",
  icon-glass: "\eb47",
  icon-globe: "\eb48",
  icon-gold: "\eb49",
  icon-golf-ball: "\eb4a",
  icon-google-drive-alt: "\eb4b",
  icon-google-drive: "\eb4c",
  icon-google-hangouts-alt: "\eb4d",
  icon-google-hangouts: "\eb4e",
  icon-google-play: "\eb4f",
  icon-google: "\eb50",
  icon-graduation-cap: "\eb51",
  icon-graph-bar: "\eb52",
  icon-grid: "\eb53",
  icon-grids: "\eb54",
  icon-grin-tongue-wink-alt: "\eb55",
  icon-grin-tongue-wink: "\eb56",
  icon-grin: "\eb57",
  icon-grip-horizontal-line: "\eb58",
  icon-hard-hat: "\eb59",
  icon-hdd: "\eb5a",
  icon-head-side-cough: "\eb5b",
  icon-head-side-mask: "\eb5c",
  icon-head-side: "\eb5d",
  icon-headphone-slash: "\eb5e",
  icon-headphones-alt: "\eb5f",
  icon-headphones: "\eb60",
  icon-heart-alt: "\eb61",
  icon-heart-break: "\eb62",
  icon-heart-medical: "\eb63",
  icon-heart-rate: "\eb64",
  icon-heart-sign: "\eb65",
  icon-heart: "\eb66",
  icon-heartbeat: "\eb67",
  icon-hindi-to-chinese: "\eb68",
  icon-hipchat: "\eb69",
  icon-history-alt: "\eb6a",
  icon-history: "\eb6b",
  icon-home-alt: "\eb6c",
  icon-home: "\eb6d",
  icon-horizontal-align-center: "\eb6e",
  icon-horizontal-align-left: "\eb6f",
  icon-horizontal-align-right: "\eb70",
  icon-horizontal-distribution-center: "\eb71",
  icon-horizontal-distribution-left: "\eb72",
  icon-horizontal-distribution-right: "\eb73",
  icon-hospital-square-sign: "\eb74",
  icon-hospital-symbol: "\eb75",
  icon-hospital: "\eb76",
  icon-hourglass: "\eb77",
  icon-house-user: "\eb78",
  icon-html3-alt: "\eb79",
  icon-html3: "\eb7a",
  icon-html5-alt: "\eb7b",
  icon-html5: "\eb7c",
  icon-hunting: "\eb7d",
  icon-icons: "\eb7e",
  icon-illustration: "\eb7f",
  icon-image-alt-slash: "\eb80",
  icon-image-block: "\eb81",
  icon-image-broken: "\eb82",
  icon-image-check: "\eb83",
  icon-image-download: "\eb84",
  icon-image-edit: "\eb85",
  icon-image-lock: "\eb86",
  icon-image-minus: "\eb87",
  icon-image-plus: "\eb88",
  icon-image-question: "\eb89",
  icon-image-redo: "\eb8a",
  icon-image-resize-landscape: "\eb8b",
  icon-image-resize-square: "\eb8c",
  icon-image-search: "\eb8d",
  icon-image-share: "\eb8e",
  icon-image-shield: "\eb8f",
  icon-image-slash: "\eb90",
  icon-image-times: "\eb91",
  icon-image-upload: "\eb92",
  icon-image-v: "\eb93",
  icon-image: "\eb94",
  icon-images: "\eb95",
  icon-import: "\eb96",
  icon-inbox: "\eb97",
  icon-incoming-call: "\eb98",
  icon-info-circle: "\eb99",
  icon-info: "\eb9a",
  icon-instagram-alt: "\eb9b",
  icon-instagram: "\eb9c",
  icon-intercom-alt: "\eb9d",
  icon-intercom: "\eb9e",
  icon-invoice: "\eb9f",
  icon-italic: "\eba0",
  icon-jackhammer: "\eba1",
  icon-java-script: "\eba2",
  icon-kayak: "\eba3",
  icon-key-skeleton-alt: "\eba4",
  icon-key-skeleton: "\eba5",
  icon-keyboard-alt: "\eba6",
  icon-keyboard-hide: "\eba7",
  icon-keyboard-show: "\eba8",
  icon-keyboard: "\eba9",
  icon-keyhole-circle: "\ebaa",
  icon-keyhole-square-full: "\ebab",
  icon-keyhole-square: "\ebac",
  icon-kid: "\ebad",
  icon-label-alt: "\ebae",
  icon-label: "\ebaf",
  icon-lamp: "\ebb0",
  icon-language: "\ebb1",
  icon-laptop-cloud: "\ebb2",
  icon-laptop-connection: "\ebb3",
  icon-laptop: "\ebb4",
  icon-laughing: "\ebb5",
  icon-layer-group-slash: "\ebb6",
  icon-layer-group: "\ebb7",
  icon-layers-alt: "\ebb8",
  icon-layers-slash: "\ebb9",
  icon-layers: "\ebba",
  icon-left-arrow-from-left: "\ebbb",
  icon-left-arrow-to-left: "\ebbc",
  icon-left-indent-alt: "\ebbd",
  icon-left-indent: "\ebbe",
  icon-left-to-right-text-direction: "\ebbf",
  icon-letter-chinese-a: "\ebc0",
  icon-letter-english-a: "\ebc1",
  icon-letter-hindi-a: "\ebc2",
  icon-letter-japanese-a: "\ebc3",
  icon-life-ring: "\ebc4",
  icon-lightbulb-alt: "\ebc5",
  icon-lightbulb: "\ebc6",
  icon-line-alt: "\ebc7",
  icon-line-spacing: "\ebc8",
  icon-line: "\ebc9",
  icon-link-add: "\ebca",
  icon-link-alt: "\ebcb",
  icon-link-broken: "\ebcc",
  icon-link-h: "\ebcd",
  icon-link: "\ebce",
  icon-linkedin-alt: "\ebcf",
  icon-linkedin: "\ebd0",
  icon-linux: "\ebd1",
  icon-lira-sign: "\ebd2",
  icon-list-ol-alt: "\ebd3",
  icon-list-ol: "\ebd4",
  icon-list-ui-alt: "\ebd5",
  icon-list-ul: "\ebd6",
  icon-location-arrow-alt: "\ebd7",
  icon-location-arrow: "\ebd8",
  icon-location-pin-alt: "\ebd9",
  icon-location-point: "\ebda",
  icon-lock-access: "\ebdb",
  icon-lock-alt: "\ebdc",
  icon-lock-open-alt: "\ebdd",
  icon-lock-slash: "\ebde",
  icon-lock: "\ebdf",
  icon-lottiefiles-alt: "\ebe0",
  icon-lottiefiles: "\ebe1",
  icon-luggage-cart: "\ebe2",
  icon-mailbox-alt: "\ebe3",
  icon-mailbox: "\ebe4",
  icon-map-marker-alt: "\ebe5",
  icon-map-marker-edit: "\ebe6",
  icon-map-marker-info: "\ebe7",
  icon-map-marker-minus: "\ebe8",
  icon-map-marker-plus: "\ebe9",
  icon-map-marker-question: "\ebea",
  icon-map-marker-shield: "\ebeb",
  icon-map-marker-slash: "\ebec",
  icon-map-marker: "\ebed",
  icon-map-pin-alt: "\ebee",
  icon-map-pin: "\ebef",
  icon-map: "\ebf0",
  icon-mars: "\ebf1",
  icon-master-card: "\ebf2",
  icon-maximize-left: "\ebf3",
  icon-medal: "\ebf4",
  icon-medical-drip: "\ebf5",
  icon-medical-square-full: "\ebf6",
  icon-medical-square: "\ebf7",
  icon-medium-m: "\ebf8",
  icon-medkit: "\ebf9",
  icon-meeting-board: "\ebfa",
  icon-megaphone: "\ebfb",
  icon-meh-alt: "\ebfc",
  icon-meh-closed-eye: "\ebfd",
  icon-meh: "\ebfe",
  icon-message: "\ebff",
  icon-metro: "\ec00",
  icon-microphone-slash: "\ec01",
  icon-microphone: "\ec02",
  icon-microscope: "\ec03",
  icon-microsoft: "\ec04",
  icon-minus-circle: "\ec05",
  icon-minus-path: "\ec06",
  icon-minus-square-full: "\ec07",
  icon-minus-square: "\ec08",
  icon-minus: "\ec09",
  icon-missed-call: "\ec0a",
  icon-mobile-android-alt: "\ec0b",
  icon-mobile-android: "\ec0c",
  icon-mobile-vibrate: "\ec0d",
  icon-modem: "\ec0e",
  icon-money-bill-slash: "\ec0f",
  icon-money-bill-stack: "\ec10",
  icon-money-bill: "\ec11",
  icon-money-insert: "\ec12",
  icon-money-stack: "\ec13",
  icon-money-withdraw: "\ec14",
  icon-money-withdrawal: "\ec15",
  icon-moneybag-alt: "\ec16",
  icon-moneybag: "\ec17",
  icon-monitor-heart-rate: "\ec18",
  icon-monitor: "\ec19",
  icon-moon-eclipse: "\ec1a",
  icon-moon: "\ec1b",
  icon-moonset: "\ec1c",
  icon-mountains-sun: "\ec1d",
  icon-mountains: "\ec1e",
  icon-mouse-alt-2: "\ec1f",
  icon-mouse-alt: "\ec20",
  icon-mouse: "\ec21",
  icon-multiply: "\ec22",
  icon-music-note: "\ec23",
  icon-music-tune-slash: "\ec24",
  icon-music: "\ec25",
  icon-n-a: "\ec26",
  icon-navigator: "\ec27",
  icon-nerd: "\ec28",
  icon-newspaper: "\ec29",
  icon-ninja: "\ec2a",
  icon-no-entry: "\ec2b",
  icon-notebooks: "\ec2c",
  icon-notes: "\ec2d",
  icon-object-group: "\ec2e",
  icon-object-ungroup: "\ec2f",
  icon-octagon: "\ec30",
  icon-okta: "\ec31",
  icon-opera-alt: "\ec32",
  icon-opera: "\ec33",
  icon-outgoing-call: "\ec34",
  icon-package: "\ec35",
  icon-padlock: "\ec36",
  icon-pagelines: "\ec37",
  icon-pagerduty: "\ec38",
  icon-paint-tool: "\ec39",
  icon-palette: "\ec3a",
  icon-panel-add: "\ec3b",
  icon-panorama-h-alt: "\ec3c",
  icon-panorama-h: "\ec3d",
  icon-panorama-v: "\ec3e",
  icon-paperclip: "\ec3f",
  icon-paragraph: "\ec40",
  icon-parcel: "\ec41",
  icon-parking-circle: "\ec42",
  icon-parking-square: "\ec43",
  icon-pathfinder-unite: "\ec44",
  icon-pathfinder: "\ec45",
  icon-pause-circle: "\ec46",
  icon-pause: "\ec47",
  icon-paypal: "\ec48",
  icon-pen: "\ec49",
  icon-pentagon: "\ec4a",
  icon-percentage: "\ec4b",
  icon-phone-alt: "\ec4c",
  icon-phone-pause: "\ec4d",
  icon-phone-slash: "\ec4e",
  icon-phone-times: "\ec4f",
  icon-phone-volume: "\ec50",
  icon-phone: "\ec51",
  icon-picture: "\ec52",
  icon-pizza-slice: "\ec53",
  icon-plane-arrival: "\ec54",
  icon-plane-departure: "\ec55",
  icon-plane-fly: "\ec56",
  icon-plane: "\ec57",
  icon-play-circle: "\ec58",
  icon-play: "\ec59",
  icon-plug: "\ec5a",
  icon-plus-circle: "\ec5b",
  icon-plus-square: "\ec5c",
  icon-plus10: "\ec5d",
  icon-podium: "\ec5e",
  icon-polygon: "\ec5f",
  icon-post-stamp: "\ec60",
  icon-postcard: "\ec61",
  icon-pound-circle: "\ec62",
  icon-pound: "\ec63",
  icon-power: "\ec64",
  icon-prescription-bottle: "\ec65",
  icon-presentation-check: "\ec66",
  icon-presentation-edit: "\ec67",
  icon-presentation-line: "\ec68",
  icon-presentation-lines-alt: "\ec69",
  icon-presentation-minus: "\ec6a",
  icon-presentation-play: "\ec6b",
  icon-presentation-plus: "\ec6c",
  icon-presentation-times: "\ec6d",
  icon-presentation: "\ec6e",
  icon-previous: "\ec6f",
  icon-pricetag-alt: "\ec70",
  icon-print-slash: "\ec71",
  icon-print: "\ec72",
  icon-process: "\ec73",
  icon-processor: "\ec74",
  icon-programming-language: "\ec75",
  icon-pump: "\ec76",
  icon-puzzle-piece: "\ec77",
  icon-qrcode-scan: "\ec78",
  icon-question-circle: "\ec79",
  icon-question: "\ec7a",
  icon-rainbow: "\ec7b",
  icon-raindrops-alt: "\ec7c",
  icon-raindrops: "\ec7d",
  icon-react: "\ec7e",
  icon-receipt-alt: "\ec7f",
  icon-receipt: "\ec80",
  icon-record-audio: "\ec81",
  icon-reddit-alien-alt: "\ec82",
  icon-redo: "\ec83",
  icon-refresh: "\ec84",
  icon-registered: "\ec85",
  icon-repeat: "\ec86",
  icon-restaurant: "\ec87",
  icon-right-indent-alt: "\ec88",
  icon-right-to-left-text-direction: "\ec89",
  icon-robot: "\ec8a",
  icon-rocket: "\ec8b",
  icon-rope-way: "\ec8c",
  icon-rotate-360: "\ec8d",
  icon-rss-alt: "\ec8e",
  icon-rss-interface: "\ec8f",
  icon-rss: "\ec90",
  icon-ruler-combined: "\ec91",
  icon-ruler: "\ec92",
  icon-rupee-sign: "\ec93",
  icon-sad-cry: "\ec94",
  icon-sad-crying: "\ec95",
  icon-sad-dizzy: "\ec96",
  icon-sad-squint: "\ec97",
  icon-sad: "\ec98",
  icon-sanitizer-alt: "\ec99",
  icon-sanitizer: "\ec9a",
  icon-save: "\ec9b",
  icon-scaling-left: "\ec9c",
  icon-scaling-right: "\ec9d",
  icon-scenery: "\ec9e",
  icon-schedule: "\ec9f",
  icon-screw: "\eca0",
  icon-scroll-h: "\eca1",
  icon-scroll: "\eca2",
  icon-search-alt: "\eca3",
  icon-search-minus: "\eca4",
  icon-search-plus: "\eca5",
  icon-search: "\eca6",
  icon-selfie: "\eca7",
  icon-server-alt: "\eca8",
  icon-server-connection: "\eca9",
  icon-server-network-alt: "\ecaa",
  icon-server-network: "\ecab",
  icon-server: "\ecac",
  icon-servers: "\ecad",
  icon-servicemark: "\ecae",
  icon-setting: "\ecaf",
  icon-share-alt: "\ecb0",
  icon-share: "\ecb1",
  icon-shield-check: "\ecb2",
  icon-shield-exclamation: "\ecb3",
  icon-shield-plus: "\ecb4",
  icon-shield-question: "\ecb5",
  icon-shield-slash: "\ecb6",
  icon-shield: "\ecb7",
  icon-ship: "\ecb8",
  icon-shop: "\ecb9",
  icon-shopping-bag: "\ecba",
  icon-shopping-basket: "\ecbb",
  icon-shopping-cart-alt: "\ecbc",
  icon-shopping-cart: "\ecbd",
  icon-shovel: "\ecbe",
  icon-shrink: "\ecbf",
  icon-shuffle: "\ecc0",
  icon-shutter-alt: "\ecc1",
  icon-shutter: "\ecc2",
  icon-sick: "\ecc3",
  icon-sigma: "\ecc4",
  icon-sign-alt: "\ecc5",
  icon-sign-in-alt: "\ecc6",
  icon-sign-left: "\ecc7",
  icon-sign-out-alt: "\ecc8",
  icon-sign-right: "\ecc9",
  icon-signal-alt-3: "\ecca",
  icon-signal-alt: "\eccb",
  icon-signal: "\eccc",
  icon-signin: "\eccd",
  icon-signout: "\ecce",
  icon-silence: "\eccf",
  icon-silent-squint: "\ecd0",
  icon-sim-card: "\ecd1",
  icon-sitemap: "\ecd2",
  icon-skip-forward-alt: "\ecd3",
  icon-skip-forward-circle: "\ecd4",
  icon-skip-forward: "\ecd5",
  icon-skype-alt: "\ecd6",
  icon-skype: "\ecd7",
  icon-slack-alt: "\ecd8",
  icon-slack: "\ecd9",
  icon-slider-h-range: "\ecda",
  icon-slider-h: "\ecdb",
  icon-sliders-v-alt: "\ecdc",
  icon-sliders-v: "\ecdd",
  icon-smile-beam: "\ecde",
  icon-smile-dizzy: "\ecdf",
  icon-smile-squint-wink-alt: "\ece0",
  icon-smile-squint-wink: "\ece1",
  icon-smile-wink-alt: "\ece2",
  icon-smile-wink: "\ece3",
  icon-smile: "\ece4",
  icon-snapchat-alt: "\ece5",
  icon-snapchat-ghost: "\ece6",
  icon-snapchat-square: "\ece7",
  icon-snow-flake: "\ece8",
  icon-snowflake-alt: "\ece9",
  icon-snowflake: "\ecea",
  icon-social-distancing: "\eceb",
  icon-sort-amount-down: "\ecec",
  icon-sort-amount-up: "\eced",
  icon-sort: "\ecee",
  icon-sorting: "\ecef",
  icon-space-key: "\ecf0",
  icon-spade: "\ecf1",
  icon-sperms: "\ecf2",
  icon-spin: "\ecf3",
  icon-spinner-alt: "\ecf4",
  icon-spinner: "\ecf5",
  icon-square-full: "\ecf6",
  icon-square-shape: "\ecf7",
  icon-square: "\ecf8",
  icon-squint: "\ecf9",
  icon-star-half-alt: "\ecfa",
  icon-star: "\ecfb",
  icon-step-backward-alt: "\ecfc",
  icon-step-backward-circle: "\ecfd",
  icon-step-backward: "\ecfe",
  icon-step-forward: "\ecff",
  icon-stethoscope-alt: "\ed00",
  icon-stethoscope: "\ed01",
  icon-stop-circle: "\ed02",
  icon-stopwatch-slash: "\ed03",
  icon-stopwatch: "\ed04",
  icon-store-alt: "\ed05",
  icon-store-slash: "\ed06",
  icon-store: "\ed07",
  icon-streering: "\ed08",
  icon-stretcher: "\ed09",
  icon-subject: "\ed0a",
  icon-subway-alt: "\ed0b",
  icon-subway: "\ed0c",
  icon-suitcase-alt: "\ed0d",
  icon-suitcase: "\ed0e",
  icon-sun: "\ed0f",
  icon-sunset: "\ed10",
  icon-surprise: "\ed11",
  icon-swatchbook: "\ed12",
  icon-swiggy: "\ed13",
  icon-swimmer: "\ed14",
  icon-sync-exclamation: "\ed15",
  icon-sync-slash: "\ed16",
  icon-sync: "\ed17",
  icon-syringe: "\ed18",
  icon-table-tennis: "\ed19",
  icon-table: "\ed1a",
  icon-tablet: "\ed1b",
  icon-tablets: "\ed1c",
  icon-tachometer-fast-alt: "\ed1d",
  icon-tachometer-fast: "\ed1e",
  icon-tag-alt: "\ed1f",
  icon-tag: "\ed20",
  icon-tape: "\ed21",
  icon-taxi: "\ed22",
  icon-tear: "\ed23",
  icon-telegram-alt: "\ed24",
  icon-telegram: "\ed25",
  icon-telescope: "\ed26",
  icon-temperature-empty: "\ed27",
  icon-temperature-half: "\ed28",
  icon-temperature-minus: "\ed29",
  icon-temperature-plus: "\ed2a",
  icon-temperature-quarter: "\ed2b",
  icon-temperature-three-quarter: "\ed2c",
  icon-temperature: "\ed2d",
  icon-tennis-ball: "\ed2e",
  icon-text-fields: "\ed2f",
  icon-text-size: "\ed30",
  icon-text-strike-through: "\ed31",
  icon-text: "\ed32",
  icon-th-large: "\ed33",
  icon-th-slash: "\ed34",
  icon-th: "\ed35",
  icon-thermometer: "\ed36",
  icon-thumbs-down: "\ed37",
  icon-thumbs-up: "\ed38",
  icon-thunderstorm-moon: "\ed39",
  icon-thunderstorm-sun: "\ed3a",
  icon-thunderstorm: "\ed3b",
  icon-ticket: "\ed3c",
  icon-times-circle: "\ed3d",
  icon-times-square: "\ed3e",
  icon-times: "\ed3f",
  icon-toggle-off: "\ed40",
  icon-toggle-on: "\ed41",
  icon-toilet-paper: "\ed42",
  icon-top-arrow-from-top: "\ed43",
  icon-top-arrow-to-top: "\ed44",
  icon-tornado: "\ed45",
  icon-trademark-circle: "\ed46",
  icon-trademark: "\ed47",
  icon-traffic-barrier: "\ed48",
  icon-traffic-light: "\ed49",
  icon-transaction: "\ed4a",
  icon-trash-alt: "\ed4b",
  icon-trash: "\ed4c",
  icon-trees: "\ed4d",
  icon-triangle: "\ed4e",
  icon-trophy: "\ed4f",
  icon-trowel: "\ed50",
  icon-truck-loading: "\ed51",
  icon-truck: "\ed52",
  icon-tumblr-alt: "\ed53",
  icon-tumblr-square: "\ed54",
  icon-tumblr: "\ed55",
  icon-tv-retro-slash: "\ed56",
  icon-tv-retro: "\ed57",
  icon-twitter-alt: "\ed58",
  icon-twitter: "\ed59",
  icon-umbrella: "\ed5a",
  icon-unamused: "\ed5b",
  icon-underline: "\ed5c",
  icon-university: "\ed5d",
  icon-unlock-alt: "\ed5e",
  icon-unlock: "\ed5f",
  icon-upload-alt: "\ed60",
  icon-upload: "\ed61",
  icon-usd-circle: "\ed62",
  icon-usd-square: "\ed63",
  icon-user-arrows: "\ed64",
  icon-user-check: "\ed65",
  icon-user-circle: "\ed66",
  icon-user-exclamation: "\ed67",
  icon-user-location: "\ed68",
  icon-user-md: "\ed69",
  icon-user-minus: "\ed6a",
  icon-user-nurse: "\ed6b",
  icon-user-plus: "\ed6c",
  icon-user-square: "\ed6d",
  icon-user-times: "\ed6e",
  icon-user: "\ed6f",
  icon-users-alt: "\ed70",
  icon-utensils-alt: "\ed71",
  icon-utensils: "\ed72",
  icon-vector-square-alt: "\ed73",
  icon-vector-square: "\ed74",
  icon-venus: "\ed75",
  icon-vertical-align-bottom: "\ed76",
  icon-vertical-align-center: "\ed77",
  icon-vertical-align-top: "\ed78",
  icon-vertical-distribute-bottom: "\ed79",
  icon-vertical-distribution-center: "\ed7a",
  icon-vertical-distribution-top: "\ed7b",
  icon-video-question: "\ed7c",
  icon-video-slash: "\ed7d",
  icon-video: "\ed7e",
  icon-virus-slash: "\ed7f",
  icon-visual-studio: "\ed80",
  icon-vk-alt: "\ed81",
  icon-vk: "\ed82",
  icon-voicemail-rectangle: "\ed83",
  icon-voicemail: "\ed84",
  icon-volleyball: "\ed85",
  icon-volume-down: "\ed86",
  icon-volume-mute: "\ed87",
  icon-volume-off: "\ed88",
  icon-volume-up: "\ed89",
  icon-volume: "\ed8a",
  icon-vuejs-alt: "\ed8b",
  icon-vuejs: "\ed8c",
  icon-wall: "\ed8d",
  icon-wallet: "\ed8e",
  icon-watch-alt: "\ed8f",
  icon-watch: "\ed90",
  icon-water-drop-slash: "\ed91",
  icon-water-glass: "\ed92",
  icon-water: "\ed93",
  icon-web-grid-alt: "\ed94",
  icon-web-grid: "\ed95",
  icon-web-section-alt: "\ed96",
  icon-web-section: "\ed97",
  icon-webcam: "\ed98",
  icon-weight: "\ed99",
  icon-whatsapp-alt: "\ed9a",
  icon-whatsapp: "\ed9b",
  icon-wheel-barrow: "\ed9c",
  icon-wheelchair-alt: "\ed9d",
  icon-wheelchair: "\ed9e",
  icon-wifi-router: "\ed9f",
  icon-wifi-slash: "\eda0",
  icon-wifi: "\eda1",
  icon-wind-moon: "\eda2",
  icon-wind-sun: "\eda3",
  icon-wind: "\eda4",
  icon-window-grid: "\eda5",
  icon-window-maximize: "\eda6",
  icon-window-section: "\eda7",
  icon-window: "\eda8",
  icon-windows: "\eda9",
  icon-windsock: "\edaa",
  icon-windy: "\edab",
  icon-wordpress-simple: "\edac",
  icon-wordpress: "\edad",
  icon-wrap-text: "\edae",
  icon-wrench: "\edaf",
  icon-x-add: "\edb0",
  icon-x: "\edb1",
  icon-yen-circle: "\edb2",
  icon-yen: "\edb3",
  icon-yin-yang: "\edb4",
  icon-youtube: "\edb5",
);
