$gladiator: #c8102e;
$gladiator-dark: #6a0818;
$gladiator-medium: #9d0c24;
$gladiator-light: #ff2e51;
$gladiator-lighter: #fa6780;
$gladiator-lightest: #fff0f0;

$black: #000;
$pavement: #231f20;
$dark-gray: #333;
$medium-gray: #656566;
$text-gray: #99999a;
$light-gray: #d4d4d4;
$lighter-gray: #ededed;
$lightest-gray: #f9f9f9;
$white: #fff;

$navy: #263746;
$navy-dark: #375066;
$navy-medium: #4a6e8d;
$navy-light: #3498db;
$navy-lighter: #a7cced;
$navy-lightest: #ebf5fb;

$gladiator-gradient: linear-gradient(215.85deg, #ea3855 9.33%, #c8102e 97.69%);
$navy-gradient: linear-gradient(215.85deg, #4a6e8d 9.33%, #263746 97.69%);
$dark-gray-gradient: linear-gradient(215.85deg, #565656 9.33%, #231f20 97.69%);
